* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center; 
}

figure {
    text-align: center;
}

.seats {
    
    border: 1px solid black; 
    display: inline-block;
    height: 80px;
    width: 80px;   
}

#btn {
    width: 200px;
    height: 70px;
    
}
.buton {
    text-align: center;
    margin: 2% 2% 5% 10%;
}